# Crie uma conta no console.groq.com para pegar esta chave
GROQ_API_KEY=sua_chave_aqui

# Crie uma conta no huggingface.co para pegar esta chave
HUGGINGFACEHUB_API_TOKEN=sua_chave_aqui
HF_TOKEN=sua_chave_aqui